body{
    background-color: lightyellow;
    display: flex;
    justify-content: center;
 
}
h1{
    background: -webkit-linear-gradient(hsl(233, 92%, 35%), hwb(139 17% 55%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60;
}
.container{
    color: #013801;
    font-size: 20;
    font-weight: bold;

}
.child{
    display: flex;
    justify-content: center;

}
button{
    background-color: hsl(60, 52%, 64%);
    color: black;
    font-size: 20;

}
